.footer {
  background: #000000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-texto {
  font-size: 1.2rem;
  line-height: 1.33;
  color: #cccccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1rem;
  color: #8f8f8f;
}

#link-topo {
  position: fixed;
  right: 8rem;
  bottom: 3rem;
  width: 3rem;
  height: 3rem;
  background: #70DA1C;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  border-radius: .3rem;
  box-shadow: 0 0.1rem 0.3rem #000000;
  text-decoration: none;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1rem;
  }
  #link-topo{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 2rem;
    height: 2rem;
  }
}
